<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{added}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{added}" class="top-title"></h1>
	
		<h3 th:text="${addedWord}" class="errorMessage"></h3>
		<br><br>	
	
		<form method="post" th:action="@{/add}" th:object="${vocabularyForm}" class="container">
			<div th:errors="*{word}" class="errorMessage"></div>
			<div th:errors="*{definition}" class="errorMessage"></div>
			
			<h4>●単語帳●</h4>
			<div >
				<select name="bookId" class="form" >
					<option value="" selected>単語帳を選択して下さい。</option>
					<option th:each="vocab : ${vocabularyBookList}" th:value="${vocab.id}" th:text="${vocab.name}"></option>
				</select>
			</div>
			<br><br>
			
			<h4>●単語●</h4>
			<input type="text" th:field="*{word}" class="form" th:placeholder="#{enterWord}">
			<br><br>
			
			<h4>●意味●</h4>
			<input type="text" th:field="*{definition}" class="form" th:placeholder="#{enterMeaning}">
			<br><br>
			
			<input type="submit" value="追加" class="btn btn-primary" >
		</form><br><br>
		
		<a class="btn btn-primary" th:href="@{/index}">アップロード</a>
		<br><br>
		<a th:href="@{/english}" th:text="#{toTopPage}"></a>
		<br>
		<img class="photo" src="/images/english_writing.png" alt="english_writing">
	</div>
</body>
</html>
