<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{vocabularyBookForEveryone}"></title>
</head>
<body>
	<div layout:fragment="content">
		
		<h1 th:text="#{vocabularyBookForEveryone}"></h1>
		<br><br>

		<table class="mainTable">
			
			<thead>
				<tr>
					<td colspan="4"><h1 th:text="#{bookId}"></h1></td>
				</tr>
				<tr>
					<td><h5 th:text="#{name}"></h5></td>
					<td><h5 th:text="#{bookId}"></h5></td>
					<td><h5 th:text="#{description }"></h5></td>
					<td></td>
				</tr>
			</thead>
			
			<tbody th:each="book : ${vocabularyBook}">
				<tr>
					<td th:text="${book.userName + '〇様'}"></td>
					<td th:text="${book.name}"></td>
					<td th:text="${book.description}"></td>
					<td><a th:href="@{'/eachBook/' + ${book.id}}" class="btn btn-primary" th:text="#{choice}"></a></td>
				</tr>

			</tbody>
			
		</table>

		<a th:href="@{/english}" th:text="#{toTopPage}"></a>
		<br>
		<img class="photo" src="/images/dictionary.png" alt="dictionary">
	</div>
</body>
</html>