<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{flashCard}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{flashCard}"></h1>
		<br><br>
		
		
	
		<div th:object="${vocabularyForm}">
			<h3 th:text="*{vocabularyBook.name}"></h3>
			<br><br>
			<h2 th:text="*{word}" class="checkCardWord"></h2>
			<br><br>
	
			<form method="post" th:action="@{/understand}">
				<input type="submit" value="ワードチェック" class="btn btn-primary">
				
				<input type="hidden" name="id" th:value="*{id}">
			</form>	
			
			<br>
			<a th:href="@{/cardTop}" th:text="#{toFlashCard}"></a>&nbsp;&nbsp;
			<a th:href="@{/english}" th:text="#{toTopPage}"></a>
			<br>
			<img class="photo" src="/images/anki_card.png" alt="anki_card">
		</div>
	</div>
</body>
</html>
