<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{login}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{login}"></h1>
	
		<form method="post" th:action="@{/login}" th:object="${loginUserForm}">
			
			<h5 th:if="${param.error}" th:text="#{loginError}" class="errorMessage"></h5>

			<h4>●email●</h4>
			<div th:errors="*{email}" class="errorMessage"></div>
			<input type="text" th:field="*{email}" class="form" th:placeholder="#{enterEmail}" required>
			<br>
			
			<h4>●パスワード●</h4>
			<div th:errors="*{password}" class="errorMessage"></div>
			<input type="password" th:field="*{password}" class="form" th:placeholder="#{enterPassword}" required>
			<br>
			
			<input type="submit" value="ログイン" class="btn btn-primary" >
			<br><br>
		</form>
		<a th:href="@{/english}" th:text="#{toTopPage}"></a>
		<a sec:authorize="isAnonymous()" th:href="@{/regist}" class="button-spacing" th:text="#{newRegist}"></a>
	</div>
</body>
</html>