<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{regist}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{regist}"></h1>
	
		<form method="post" th:action="@{/regist}" th:object="${registUserForm}">
			<h4>●名前●</h4><div th:errors="*{name}" class="errorMessage"></div>
			<input type="text" th:field="*{name}" class="form" th:placeholder="#{enterName}">
			<br>
			
			<h4>●email●</h4>
			<div th:errors="*{email}" class="errorMessage"></div>
			<input type="text" th:field="*{email}" class="form" th:placeholder="#{enterEmail}">
			<br>
			
			<h4>●パスワード●</h4>
			<div th:errors="*{password}" class="errorMessage"></div>
			<input type="password" th:field="*{password}" class="form" th:placeholder="#{enterPassword}">
			<br>
			
			<input type="submit" value="登録" class="btn btn-primary">
			<br><br>
		</form>
		<a th:href="@{/english}" th:text="#{toTopPage}"></a>&nbsp;&nbsp;
		<a sec:authorize="isAnonymous()" th:href="@{/login}" th:text="#{login}"></a>
	</div>
</body>
</html>