<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{translations}"></title>
</head>
<body>
	<div layout:fragment="content">
		
		<h1 th:text="#{translations}"></h1>
		<br><br>
			
		<table class="table text-center mt-3">
			<form method="post" th:action="@{/translations}" th:object="${translationsForm}" class="text-center">
			<thead>
				<tr>
					<td><h5>翻訳したい文</h5></td>
					<td><h5>結果</h5></td>
				</tr>
			</thead>
			
			<tbody th:each="translations : ${translationsList}">
				<tr>
					<td input type="text" th:field="*{sentence}" class="form-control" rows="5"
							placeholder="翻訳したい文を入力してください。">
					</td>
					<td th:text="${translations.text}"></td>
				</tr>
				<tr>
					<td colspan="2" input type="submit" value="翻訳" class="btn btn-primary"></td>
				</tr>

			</tbody>
			
		</table>
		<a th:href="@{/english}">トップページに戻る</a>
		<br>
		<img class="photo" src="/images/dictionary.png" alt="dictionary">
	</div>
</body>
</html>