<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="katachi.spring.exercise.repository.UsersMapper">

<resultMap id="users" type="Users">
		<result property="id" column="id"/>
		<result property="name" column="name"/>	
		<result property="email" column="email"/>
		<result property="password" column="password"/>	
	</resultMap>

	<insert id="regist">
		INSERT INTO users(
			name
			,email
			,password
		)
		VALUES(
			#{name}
			,#{email}
			,#{password}
		)
	</insert>
	
	<select id="getUser" resultMap="users">
		SELECT
			id
			,name
			,email
			,password
		FROM 
			users
		Where
			email = #{email}
	</select>
	
	<select id="count" resultMap="users">
		SELECT
			count(email)
		FROM
			users
		WHERE
			email =#{email}
	</select>
		
	
</mapper>